body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

canvas {
    display: block; /* Remove default spacing */
}

#ui-container {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}
